In [ ]:
Introd

In [ ]:
Variables in python :

In [2]:
x = 5
y = 2

In [3]:
z = x+y
print(z)

7

In [10]:
a = 1
b = 2
c = a+b
print(c)

3

In [ ]:
Rules for declaring the variables:

In [ ]:
Rule NO.1 : No Namespace While declaring the variable name

In [ ]:
first name = 'Zaki'    this will show error

In [15]:
firstname = 'Zaki'
print(firstname)

Zaki

In [ ]:
Rule No.2 : A variable name should not start with a number  **

In [ ]:
1name = "Blabkberry"     this will show error

In [16]:
phone =  "Blabkberry"
print(phone)

Blabkberry

In [17]:
ab2c = "lkdsuc"
print(ab2c)

lkdsuc

In [ ]:
Rule No.3 : A variable name should not have any special character (@ # $ % & ^)

In [31]:
name@ = "abjba"         
print(name@)

SyntaxError: invalid syntax (204000938.py, line 1)

In [ ]:
 Introduction to datatype :
   1. String ============> str
   2. Numbers  (integers ===========> int and Floats (decimals ===> 0.1,0.2)) ===>float
   3.lists ===> list
   4.tuples ===> tuple
   5.Dictionaries ====> dict

In [ ]:
Classification of datatypes :

   Broadly datatypes are classfies into two categories :

      1. Mutable datatype  ====> which we can edit/alter ===> flexible in nature
      2. Immutable datatype  ===> which we cannot be able to edit/alter ===> fixed in nature

In [ ]:
Introduction to string datatype :

defination :   A string is nothing but a series of character declared in quotes.

classification : it classified as an immutable datatype.

how to define string datatype :

   1. single quotes
   2. double quotes

In [36]:
name1 = 'Naga Babu'    # single quotes
print(name1)

Naga Babu

In [35]:
name2= "Arjuuna"           # double quotes
print(name2)

Arjuuna

In [ ]:
 Introduction to String methods :

In [37]:
type(name)

str

In [38]:
type(name2)

str

In [39]:
type(123)

int

In [40]:
type(0.12)

float

In [44]:
fullname  = "joseph antony"
print(fullname)

joseph antony

In [46]:
print(fullname.title())   # title method

Joseph Antony

In [48]:
print(fullname.upper())    # upper method

JOSEPH ANTONY

In [51]:
print(fullname.lower())   # lower method

joseph antony